ion-content{
    --background: rgb(0,0,0)  ;
    
   }
  
  #gamespace{
      display:grid;
      grid-template-rows:1fr 4fr 1fr;
      height: 100vh;
      border:12px solid black;
      border-radius:1em;
      background-color:rgb(255,252,229)  ;
    }
    .dots{
        width:60px;
        height:auto;
        margin-right:2em;
        cursor:grabbing;
        font-size:0.8em;
        text-align:center;
      
      }
    .layouttop{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        & .corner img{
         
          min-width:150px;
          max-width:300px;
          // max-height:var(--header-height);
        }
      }
        
     
        .layoutbottom{
          display:flex;
          flex-direction:row;
         justify-content: right;
        }
        .layoutbottom img{
           align-self: flex-end;
          transform:rotate(180deg);
          width:auto;
          max-width:300px;
          max-height:var(--header-height);
        }