// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@font-face {
    font-family: 'edu-qld';
    font-style: normal;
    src: url('../assets/fonts/EduQLDBeginner-VariableFont_wght.ttf');
  }
@font-face {
    font-family: 'noto-sans';
    font-style: normal;
    src: url('../assets/fonts/NotoSans-SemiBold.ttf');
  }
:root{
    --ion-font-family:edu-qld, noto-sans, Arial;
    
}
@supports (font-variation-settings: "wdth" 800) {
    body {
      font-size:1.3em;
      font-family: noto-sans;
      font-weight:800;
    }
  }

 

