<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Flip Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 

  <div class="tp-wrapper">
    <div class="tp-box" [@flipState]="flip">
      <div class="tp-box__side tp-box__front">
        <img src="assets/{{fimage}}" />
        {{ftext}}
      </div>
      <div class="tp-box__side tp-box__back">
        
        <img src="assets/{{bimage}}" />
        {{btext}}
        
      </div>
    </div>
      
  </div> 
   <div class="gamebuttons">
    <audio id="audiofile">
      <source src="assets/{{audiofile}}" type="audio/mpeg">
    </audio>
    <ion-button (click)="toggleFlip()" >Flip</ion-button>
    <ion-button (click)="speak()">speak <ion-icon slot="start" name="volume-high-Outline"></ion-icon></ion-button>
  <ion-button (click)="previous()" [disabled]="prevactive">Previous Card</ion-button>
  <ion-button (click)="next()" [disabled]="nextactive">Next Card</ion-button>
</div>

</ion-content>
