:host{
  --box-width:300px;
  --box-height:300px;
}
ion-content{
  --background:url("../../../assets/corneronly.png") rgb(255,252,229) no-repeat fixed ;
}
.tp-wrapper {
    -webkit-perspective: 1000px;
            perspective: 1000px;
     margin-bottom:4em;   
     display:grid;
     justify-content: center;
     align-items: center;   
  }
  
  .tp-box {
   

    width: var(--box-width);
    height: var(--box-height);
   
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform         : transform 1s;
        -ms-transform         : transform 1s;
            transform         : transform 1s;
  }
  .tp-box__side {
   
     position: absolute;

     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;

    color:black;
    text-align: center;
    line-height: 1.1;
    font-size: 2.5em;
    font-weight: 700;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tp-box__front {
    background: rgba(255,255,255,0.9);
    border-radius: 12px;
    -webkit-transform : rotateY(0deg);
    -ms-transform     : rotateY(0deg);
    transform         : rotateY(0deg);
  }
  .tp-box__back {
    background:rgba(255,255,255,0.9);
    border-radius: 12px;
    -webkit-transform : rotateY(-180deg);
    -ms-transform     : rotateY(-180deg);
    transform         : rotateY(-180deg);
  }
  .tp-box__side img{
    width:100%;
    aspect-ratio:1/1;
  }

  .gamebuttons{
    display:flex;
    flex-direction:colums;
    justify-content: center;
  }
 @media only screen and (min-width:600px){

  .tp-box{
    width:calc(var(--box-width) * 1.5);
    height:calc(var(--box-height) * 1.5);
  }
 } 
 @media only screen and (min-width:900px){

  .tp-box{
    width:calc(var(--box-width) * 2);
    height:calc(var(--box-height) *2);
  }
 } 
 @media only screen and (min-width:1440px){

  .tp-box{
    width:calc(var(--box-width) * 2.5);
    height:calc(var(--box-height) *2.5);
  }
 } 