:host{
  --box-width:320px;
  --box-height:320px;
  --header-height:100px;
}
 ion-content{
  --background: rgb(255,252,229)  ;
  
 }
ion-button{
  //--background:rgba(210,181,159,0.3);
  --background:rgba(87,116,131,0.9);
  --color:rgb(255,255,255);
}
.gamebuttons ion-button{
  --background:rgb(210,181,159);
  --border-color:rgb(0,0,0);
  --border-width:4px;
  --border-radius:12px;
  --border-style:solid;
  --color:rgb(0,0,0);
}
.dots{
  float:right;
  width:60px;
  height:auto;
  margin-right:2em;
  cursor:grabbing;

}
.layouttop img{
  width:auto;
  max-height:var(--header-height);
}
.layoutbottom img{
  
  transform:rotate(180deg);
  float:right;

  width:auto;
  max-height:var(--header-height);
}

#gamespace{
  display:grid;
  grid-template-rows:1fr 3fr 1fr;
  width: 100vw;
  height: 100vh;
  border:12px solid black;
  border-radius:1em;
}
.controls{
  display:grid;
  grid-template-columns: 70px 1fr 70px;
}
.gamebuttons{
  display:flex;
  flex-direction:colums;
  justify-content: center;
}
.prev ,.next{
  align-self:center;
  
}

.tp-wrapper {
  position:relative;
  top:-3rem;
    -webkit-perspective: 1000px;
            perspective: 1000px;
     margin-bottom:2em;   
     display:grid;
     justify-content: center;
     align-items: center;   
     
  }
  
  .tp-box {
   

    width: var(--box-width);
    height: var(--box-height);
   
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform         : transform 1s;
        -ms-transform         : transform 1s;
            transform         : transform 1s;
  }
  .tp-box__side {
   
     position: absolute;

     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;

    color:black;
    text-align: center;
    line-height: 1.1;
    font-size: 2.5em;
    font-weight: 700;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tp-box__front {
  //  background: rgba(100,100,100,0.8);
    border-radius: 12px;
    -webkit-transform : rotateY(0deg);
    -ms-transform     : rotateY(0deg);
    transform         : rotateY(0deg);
  }
  .tp-box__back {
   // background:rgba(100,100,100,0.7);
    border-radius: 12px;
    -webkit-transform : rotateY(-180deg);
    -ms-transform     : rotateY(-180deg);
    transform         : rotateY(-180deg);
  }
  .tp-box__side img{
    width:100%;
    aspect-ratio:1/1;
  }
  @media only screen and (min-width:200px){
    .tp-box{
      width:calc(var(--box-width) * 0.7);
      height:calc(var(--box-height) * 0.7);
    }
    .layouttop img{
     
      max-height:calc(var(--header-height)*0.7);
    }
    .layoutbottom img{
     
      max-height:calc(var(--header-height)*0.7);
    }
  }

 @media only screen and (min-width:600px){

  .tp-box{
    width:calc(var(--box-width) * 1);
    height:calc(var(--box-height) * 1);
  }
  .layouttop img{
     
    max-height:calc(var(--header-height)*1);
  }
  .layoutbottom img{
   
    max-height:calc(var(--header-height)*1);
  }
 } 
 @media only screen and (min-width:900px){
  .layouttop img,.layoutbottom img{
    max-height:calc(var(--header-height)*1.1);
  }
  
  .tp-box{
    width:calc(var(--box-width) * 1.3);
    height:calc(var(--box-height) *1.3);
  }
 } 
 @media only screen and (min-width:1440px){
  .tp-box{
    width:calc(var(--box-width) * 1.5);
    height:calc(var(--box-height) *1.5);
  }
  
 } 