:host{

  --header-height:80px;
}
ion-content{
  --background: rgb(0,0,0)  ;
  
  
 }
 .language{
  // position:relative;
  // top:-1em;
  text-align:right;
  padding-right:2em;
  font-size:1.5em;
  font-weight:bold;
  text-transform: uppercase;
}


.homemenu{
 
  justify-self:center;
  // place-self: center;
    ul{
      list-style: none;

      & li{
        padding-block:0.5em;
        & a:visited, a:link{
          text-decoration:none;
          color:#6e4e5b;
        }
        & a:hover{
         
          color:#2c2025;
        }
      }

      & li:before{
        content:url("/assets/dot.png");
        padding-right:0.5em;
      }  
    }
    & img{
      width:300px;
      
    }
    & img:hover{
    
      animation: wiggle 1.5s;
      
    }
  }
  @keyframes wiggle {
    0% { transform: rotate(0deg); }
   40% { transform: rotate(3deg); }
   50% { transform: rotate(6deg); }
   60% { transform: rotate(10deg); }
   70% { transform: rotate(5deg); }
   80% { transform: rotate(3deg); }
   95% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}
@media only screen and (min-width:200px){

  .corner img{
   
    max-height:calc(var(--header-height)*0.5);
  }
 
  
}

@media only screen and (min-width:600px){


.corner img{
   
  max-height:calc(var(--header-height)*0.7);
}


} 
@media only screen and (max-height:700px){
.corner img{
   
  max-height:calc(var(--header-height)*0.5);
}
}
@media only screen and (min-width:900px){



.corner img{
   
  max-height:var(--header-height);
}

} 
@media only screen and (min-width:1440px){
.tp-box{
  width:calc(var(--box-width) * 1.1);
  height:calc(var(--box-height) *1.1);
}
.corner img{
   
  max-height:calc(var(--header-height)* 1.2);
}
} 

  
    
